@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;900&display=swap");
@import "reset";
@import "functions/map-deep-get";
@import "fonts/all.min";
@import "variables";
@import "utils/padding";
@import "utils/margin";
@import "header/header";
@import "button/button";
@import "winner-card/winner-card.scss";
@import "article/article";
@import "grid/grid";
@import "tab/tab.scss";
@import "banner/banner";
@import "timeline/timeline.scss";
@import "utils/colors";
@import "utils/text";
@import "utils/font-style";
@import "utils/height";
@import "paragraph/paragraph";
@import "heading/heading";
@import "container/container";
@import "section/section";
@import "link/link";
@import "fullscreen/fullscreen";
@import "player-card/player-card";
@import "footer/footer";
@import "utils/font-weight.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: var(--text-font);
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.ap-flag {
  border-radius: 100px;
}

.ap-tennis-live { 
  overflow: hidden; 
  padding-bottom: 56.25%; 
  position: relative; 
  height: 0;
}

.ap-tennis-live iframe { 
  left: 0; 
  top: 0; 
  height: 100%; 
  width: 100%; 
  position: absolute;
}
