$badge-colors: (
  primary-500: (
    background-color: var(--color-primary-500)
  ),
  tertiary-500: (
    background-color: var(--color-tertiary-500)
  ),
  "gold": (
    background-color: var(--color-gold)
  )
);
