.ap-header {
  position: fixed;
  z-index: 4;
  left: 0;
  right: 0;
  top: 0;

  &__bar {
    height: 6.4rem;
    position: relative;
    background-color: #00000070;
    padding: 0 1.6rem;
    display: flex;
    z-index: 1;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s ease-in;
  }

  &__logo {
    width: 75px;
  }

  .ap-burger {
    &__line {
      width: 24px;
      height: 2px;
      margin-bottom: 6px;
      border-radius: 4px;
      background-color: white;
      margin-top: 4px;

      &:first-child {
        transform: rotate(0) translate(0);
        transition: 0.3s ease;
      }

      &:nth-child(2) {
        transform: translateX(0);
        transition: transform 0.3s ease, opacity ease 0.2s;
        opacity: 1;
      }

      &:nth-child(3) {
        transform: rotate(0) translate(0);
        transition: 0.3s ease;
      }
    }
  }

  &__nav {
    height: 100vh;
    margin-top: -6.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-black);
    transform: scale(0.95);
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    transition: 0.3s ease-in;
    visibility: hidden;
    position: absolute;
    left: 0;
    right: 0;

    &__li {
      font-size: 2rem;
      text-align: center;
      margin: 3.2rem 0;

      &--selected {
        .ap-header__nav__link {
          color: var(--color-primary-500);
        }
      }
    }

    &__link {
      color: var(--color-white);
      text-decoration: none;
    }

    i {
      display: none;
    }
  }

  @media (min-width: $screen-md) {
    width: 8rem;
    height: 100vh;
    right: auto;
    bottom: 0;
    transition: width 0.3s cubic-bezier(0, 0, 0.34, 0.87);
    overflow: hidden;
    background-color: #00000050;
    backdrop-filter: blur(8px);

    &__bar {
      display: block;
      padding: 6.4rem 0 0;
      position: absolute;
      width: 8rem;
      height: 11rem;
      z-index: 0;
      background-color: transparent;
    }

    .ap-burger {
      display: none;
    }

    &__nav {
      opacity: 1;
      pointer-events: all;
      transform: scale(1);
      transition: 0s;
      margin-top: 0;
      background-color: transparent;
      justify-content: start;
      visibility: visible;
      position: relative;

      &::after {
        position: absolute;
        left: 8rem;
        height: 100%;
        width: 1px;
        background-color: transparent;
        content: "";
        transition: 0.2s;
      }

      &__ul {
        width: 100%;
      }

      &__li {
        font-size: 1.6rem;
        font-weight: 400;
        margin: 1.6rem 0;
        background-color: transparent;
        transition: 0.2s ease-in;

        i {
          display: block;
          width: 8rem;
          height: 5rem;
          text-align: center;
          border-right: 3px solid transparent;
          padding-top: 2.4rem;
        }

        span {
          display: inline-block;
          position: relative;
          left: 4rem; // Ici on utilise position relative pour déplacer les labels vers la droite plutot que marin-right. Si on utilise margin-right ça va pousser les icones
          text-align: left;
          opacity: 0;
          visibility: hidden;
          width: 0;
          transition: 0.3s ease-in;
        }

        &--selected {
          span {
            color: var(--color-primary-500);
          }

          i {
            border-color: var(--color-primary-500);
          }
        }

        &:hover {
          background-color: #00000070;
        }
      }

      &__link {
        display: flex;
        height: 5rem;
        align-items: center;
        width: 100%;
        white-space: nowrap;
      }
    }

    &:hover {
      width: 30rem;

      .ap-header__nav {
        &::after {
          background-color: #ffffff20;
        }
      }

      span {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

// On accroche la class show-nav sur le body, pour pouvoir lui mettre un overflow hidden et empecher le scroll derrière le menu lorsqu'il est ouvert
body.show-nav {
  overflow: hidden;

  .ap-header__mobile {
    background-color: #000;
  }

  .ap-header__nav {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
    z-index: 0;
    pointer-events: all;
  }

  .ap-burger__line {
    &:nth-child(3) {
      transform: rotate(45deg) translate(-5px, -5px);
      transition: 0.3s ease;
    }

    &:first-child {
      transform: rotate(-45deg) translate(-6px, 6px);
      transition: 0.3s ease;
    }

    &:nth-child(2) {
      transform: translateX(0);
      transition: transform 0.3s ease, opacity ease 0.2s;
      opacity: 0;
    }
  }
}
