$colors: (
    primary-500: var(--color-primary-500),
    primary-600: var(--color-primary-600),
    primary-700: var(--color-primary-700),  
    gradient-primary-500-600: linear-gradient(95.37deg, var(--color-primary-500) 7.53%, var(--color-primary-600) 101.43%),
    'black': var(--color-black),
    'white': var(--color-white),
);

@each $key, $value in $colors {
    .color--#{$key} {
        color: $value;
    }

    .bg--#{$key} {
        background: $value;
    }
}