.ap-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;

  &__column {
    flex-shrink: 0;
    width: 100%; // Par défault, toutes les colonnes que je vais placer vont faire 100% de large
    max-width: 100%;
    padding: 0 3.2rem;

    // Sauf si j'utilise une classe modifier
    &--4 {
      flex: 0 0 auto;
      width: 33.3333%;
    }
  }

  &__text {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  // Une fois qu'on arrive à 992px...
  @media (min-width: $screen-md) {
    // Cette classe va avoir pour effet de transformer les colonnes qui étaient initiallement à 100% en 33.3333%
    // Donc de 0px à 991px nos colonnes vont faire 100% de large et à partir de 992px alors les colonnes passent à 33.3333%
    &__column--md--4 {
      flex: 0 0 auto;
      width: 33.3333%;
    }

    &__text {
      max-width: 492px;
    }

    display: flex;
    flex-wrap: wrap;
    margin: 0 -3.2rem;
    flex-direction: row;
  }
}
