.ap-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;

  &__column {
    flex-shrink: 0;
    width: 100%; // Par défault, toutes les colonnes que je vais placer vont faire 100% de large
    max-width: 100%;
    padding: 0 3.2rem;

    i {
      margin-right: 8px;
    }

    &--img {
      border-radius: 16px;
    }

    // Sauf si j'utilise une classe modifier
    &--4 {
      flex: 0 0 auto;
      width: 33.3333%;
    }
  }

  .ap-card {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    font-family: var(--text-font);
    height: 289px;
    border-radius: 16px;

    &::before {
      content: "";
      background: linear-gradient(180deg, rgb(0 0 0 / 40%) 0%, rgb(0 0 0 / 0%) 59.52%);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 16px;
    }

    &::after {
      content: "";
      background: linear-gradient(180deg, rgb(0 0 0 / 0%) 0%, rgb(0 0 0 / 40%) 100%);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 16px;
    }

    &__content {
      z-index: 1;
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      bottom: 10%;
      margin: auto;
      width: 100%;
    }
  }

  &__text {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  // Une fois qu'on arrive à 992px...
  @media (min-width: $screen-md) {
    // Cette classe va avoir pour effet de transformer les colonnes qui étaient initiallement à 100% en 33.3333%
    // Donc de 0px à 991px nos colonnes vont faire 100% de large et à partir de 992px alors les colonnes passent à 33.3333%
    &__column--md--4 {
      flex: 0 0 auto;
      width: 33.3333%;
    }

    &__column--md--3 {
      flex: 0 0 auto;
      width: 25%;
      padding: 0 1.6rem;
    }

    &__text {
      max-width: 492px;
    }

    display: flex;
    margin: 0 -3.2rem;
    flex-flow: wrap row;
  }
}

.ap-drapeau {
  border-radius: 100px;
  margin-right: 8px;
}
