.ap-logo-partenaire {
    width: 200px;
    margin: auto;
    padding-left: 10px;
}

.ap-logo__partenaire {
    margin-right: 6px;
}
  
.ap-logo-social-network {
    display: flex;
    justify-content: center;
    color: var(--color-white);
}
  
@media(min-width: $screen-md) {

    .ap-logo-social-network {
      display: flex;
      justify-content: left;
        i {
            margin-right: 16px;
        }
    }

    .ap-logo-partenaire {
        width: 100%;
        padding-left: 0px;
    }

    .ap-logo__partenaire {
        margin-right: 40px;
    }
    
}