.ap-article {
  display: flex;
  justify-content: center;
  flex-direction: column;

  @media (min-width: $screen-md) {
    & {
      display: block;
    }
  }
}

.ap-grid__column--img {
  max-width: 100%;
  border-radius: 16px;
}

