
.ap-container {
    z-index: 3;
}

.ap-flex {
    display:flex;
    height: 100vh;
    align-items: center;
}

@media screen and (max-width: $screen-lg)  { 
    .ap-container {
        padding: 40px;
        padding-top: 109px;
        width: 100%;
    }

    .ap-row {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: $screen-lg) {
    .ap-container {
        padding-top: 64px;
        padding-bottom: 64px;
        padding-left: 64px;
        padding-right: 64px;
        margin-left: 154px;
    }

    .ap-row {
        display: flex;
        flex-direction: row;
        margin-top: 24px;
    }
}