@import "mapping";

.ap-fullscreen {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;

  &::before {
    content: "";
    z-index: -1;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 526px;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    z-index: -1;
  }

  &__logo {
    display: flex;
    justify-content: flex-start;

    img {
      height: 103px;
    }
  }

  @each $key, $value in $fullscreen-colors {
    &.ap-fullscreen--#{$key} {
      &::before {
        background: map-deep-get($value, "before", "background");
      }

      &::after {
        background: map-deep-get($value, "after", "background");
      }
    }
  }

  @each $key, $value in $fullscreen-sizes {
    &.ap-fullscreen--#{$key} {
      height: map-get($value, "height");
    }
  }
}

.ap-stroke {
  width: 40px;
  height: 2px;
  background-color: var(--color-white);
  margin-top: 24px;
}

@media screen and (max-width: $screen-md) {
  .ap-fullscreen {
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 100%;
    }

    &::after {
      width: 100%;
    }
  }

  .ap-heading,
  .ap-paragraph {
    text-align: center;
  }

  .ap-stroke {
    margin: 24px auto 0;
  }

  .ap-fullscrenn__logo {
    display: flex;
    justify-content: center;
  }
}
