$fullscreen-colors: (
  "black": (
    before: (
      background: var(--color-filter-before-black),
    ),
    after: (
      background: var(--color-filter-after-black),
    )
  ),
  secondary-700: (
    before: (
      background: var(--color-filter-before-secondary-700),
    ),
    after: (
      background: var(--color-filter-after-secondary-700),
    )
  ),
  secondary-600: (
    before: (
      background: var(--color-filter-before-secondary-700),
    ),
    after: (
      background: var(--color-filter-after-secondary-600),
    )
  )
);

$fullscreen-sizes: (
  default: (
    height: 100vh,
    mobile: (
      height: 100vh,
      padding-top: 0
    )
  ),
  sm: (
    height: 505px,
    mobile: (
      height: 250px,
      padding-top: 64px
    )
  ),
  xs: (
    height: 247px,
    mobile: (
      height: 247px,
      padding-top: 64px
    )
  )
);
