$button-colors: (
  primary-500: (
    color: var(--color-black),
    background-color: var(--color-primary-500),
    hover: (
      color: var(--color-black),
      background-color: var(--color-white),
    ),
  ),
);

$button-sizes: (
  default: (
    height: var(--button-height-default),
    padding-left: 24px,
    padding-right: 24px,
    font-size: 1.4rem,
    font-weight: 600,
  ),

  small: (
    height: var(--button-height-small),
    padding-left: 24px,
    padding-right: 24px,
    font-size: 1.4rem,
    font-weight: 600,
  ),
);
