$heading-sizes: (
    h1: (
        font-size: var(--font-size-h1),
        font-weight: var(--font-weight-h1),
    ),
    h2: (
        font-size: var(--font-size-h2),
        font-weight: var(--font-weight-h2),
    ),    
    h3: (
        font-size: var(--font-size-h3),
        font-weight: var(--font-weight-h3),
        line-height: var( --font-height-h3),
    ),
    h4: (
        font-size: var(--font-size-h4),
        font-weight: var(--font-weight-h4),
    ),
    h5: (
        font-size: var(--font-size-h5),
        font-weight: var(--font-weight-h5),
    ),
);

$headingcolors: (
    primary: (
        color: var(--color-white),
    ),
    secondary: (
        color: var(--color-black),
    ),    
);
